.masterclass__banner1 {
  background-image:url('../images/slide_img_1.jpg')
}

.masterclass__banner2 {
  background-image:url('../images/slide_img_2.jpg')
}

.wonderkid_banner1 {
  background-image:url('../images/slide_img_3.jpg');
}

.wonderkid_banner2 {
  background-image:url('../images/slide_img_4.jpg');
}

.ampa__banner1 {
  background-image:url('../images/slide_img_5.jpg');
}

.ampa__banner2 {
  background-image:url('../images/slide_img_6.jpg');
}
