// Modal 
#modalGetNew {
  .modal-dialog{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    @include maxs($sp-480) {
      position: initial;
      left: 50%;
      top: 45%;
      transform: initial;
    }
  }
  .modal-body{
    background-color: #fff;
    background-image: url(../images/stroke.png);
    background-repeat: no-repeat;
    background-position: left -5%;
    background-size: inherit;
    padding: 30px;
    position: relative;
    .close-modal{
      background: #fff;
      position: absolute;
      width: 30px;
      height: 30px;
      right: -15px;
      top: -15px;
      border: 2px solid #000;
      border-radius: 15px;
      color: #000;
      font-weight: bold;
      span{
        font-size: 20px;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: bold;
      color: #000000;
      line-height: 50px;
      margin-bottom: 10px;
      @include maxs($sp-480) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    p{font-size: 17px}
    form{
      margin-top: 20px;
      width: 50%;
      float: right;
      @include maxs($sp-480) {
        width: 100%;
        float: initial;
      }
      .btn-getNews{
        color: #f8dc17;
        font-weight: bold;
        border-radius: 0px;
        background-color: #000;
        padding: 15px 25px;
        float: right;
        margin-top: 20px;
      }
    }
  }
}